@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 1px 2px 0 2px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.topBar {
  background: black;
  color: #fff;
  height: 70px;
  border-radius: 15px;
}

.topBar .logo {
  font-size: x-large;
  font-weight: bold;
}

.topBar a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  padding: 3px 4px;
}

.topBar a:hover {

  background-color: white;
  color: black;
  border-radius: 10px;
}

.topBar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Just in case the LOGO moves because of the padding of Top Bar Buttons

.topBar .container .jlogo {
  position: fixed;
  margin-left: 35%
}
*/


.topBar ul {
  display: flex;
}

.topBar ul li {
  margin-left: 20px;
}

.header {
  background-color: rgb(233, 230, 230);
  color: rgb(20, 20, 20);
  min-height: 200px;
  border-radius: 15px;

}

/* TOOLS IMAGE SVG */
.tlogo {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

.header .container img {
  padding-top: 20px;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background: rgba(94, 90, 90, 0.856);
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  align-items: center;
}

.container a {
  text-decoration: none;
  height: fit-content;
}

@supports (-webkit-transition: transform, opacity) {
  .box {
    -webkit-transition: opacity 200ms linear, -webkit-transform 200ms ease-in-out;
    transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    transition: transform 200ms ease-in-out, opacity 200ms linear;
    transition: transform 200ms ease-in-out, opacity 200ms linear, -webkit-transform 200ms ease-in-out;
  }

  .box:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9;
  }
}
/*
.boxes .container .box .boxfline img {
  padding-bottom: 10px;
}
*/

/* How do I align icon with Header????? */
.boxes .container .box .heading{
  font-size: 21px;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 50px;
}





.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prayer .container {
  display: flex;
  justify-content: space-between;
}

.prayer .container .prayerBox {
  flex: 1;
  background: rgba(207, 204, 204, 0.856);
  color: rgb(17, 16, 16);
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}


@media (max-width: 768px) {
  .topBar .logo {
    font-size: 80%;
  }
  
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }

  .topBar .container .jlogo {
    margin-left: 10%
  }

  .topBar ul li {
    margin-left: 0px;
  }

  .topBar a {
    font-size: 70%;
  }

  @media (max-width: 608px) {
    * {
      margin-right: 5px;
    }

    .topBar .container {
      display: flex;
      justify-content: space-between;
      font-size: 95%;
    }

    .prayer .container {
      display: block;
      text-align: center;
      
    }
  }
}
